# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


# PyBuilder
target/
results/
temp_step1/
temp_step2/
temp_step3/
tmp/
.cache/

logs.txt
error.txt
out.simc
.vs/
.vscode/
.settings/
.project
.pydevproject
auto_download/
settings_local.py

/7-ZipPortable.exe
/7-zip.chm
/7-zip.dll
/7-zip32.dll
/7z.dll
/7z.exe
/7z.sfx
/7zCon.sfx
/7zFM.exe
/7zG.exe
/App/7-Zip/7-zip.chm
/App/7-Zip/7-zip.dll
/App/7-Zip/7z.dll
/App/7-Zip/7z.exe
/App/7-Zip/7z.sfx
/App/7-Zip/7zCon.sfx
/App/7-Zip/7zFM.exe
/App/7-Zip/7zG.exe
/App/7-Zip/History.txt
/App/7-Zip/License.txt
/App/7-Zip/descript.ion
/App/7-Zip/readme.txt
/App/7-Zip64/7-zip.chm
/App/7-Zip64/7-zip.dll
/App/7-Zip64/7-zip32.dll
/App/7-Zip64/7z.dll
/App/7-Zip64/7z.exe
/App/7-Zip64/7z.sfx
/App/7-Zip64/7zCon.sfx
/App/7-Zip64/7zFM.exe
/App/7-Zip64/7zG.exe
/App/7-Zip64/History.txt
/App/7-Zip64/Lang/af.txt
/App/7-Zip64/Lang/an.txt
/App/7-Zip64/Lang/ar.txt
/App/7-Zip64/Lang/ast.txt
/App/7-Zip64/Lang/az.txt
/App/7-Zip64/Lang/ba.txt
/App/7-Zip64/Lang/be.txt
/App/7-Zip64/Lang/bg.txt
/App/7-Zip64/Lang/bn.txt
/App/7-Zip64/Lang/br.txt
/App/7-Zip64/Lang/ca.txt
/App/7-Zip64/Lang/co.txt
/App/7-Zip64/Lang/cs.txt
/App/7-Zip64/Lang/cy.txt
/App/7-Zip64/Lang/da.txt
/App/7-Zip64/Lang/de.txt
/App/7-Zip64/Lang/el.txt
/App/7-Zip64/Lang/en.ttt
/App/7-Zip64/Lang/eo.txt
/App/7-Zip64/Lang/es.txt
/App/7-Zip64/Lang/et.txt
/App/7-Zip64/Lang/eu.txt
/App/7-Zip64/Lang/ext.txt
/App/7-Zip64/Lang/fa.txt
/App/7-Zip64/Lang/fi.txt
/App/7-Zip64/Lang/fr.txt
/App/7-Zip64/Lang/fur.txt
/App/7-Zip64/Lang/fy.txt
/App/7-Zip64/Lang/ga.txt
/App/7-Zip64/Lang/gl.txt
/App/7-Zip64/Lang/gu.txt
/App/7-Zip64/Lang/he.txt
/App/7-Zip64/Lang/hi.txt
/App/7-Zip64/Lang/hr.txt
/App/7-Zip64/Lang/hu.txt
/App/7-Zip64/Lang/hy.txt
/App/7-Zip64/Lang/id.txt
/App/7-Zip64/Lang/io.txt
/App/7-Zip64/Lang/is.txt
/App/7-Zip64/Lang/it.txt
/App/7-Zip64/Lang/ja.txt
/App/7-Zip64/Lang/ka.txt
/App/7-Zip64/Lang/kaa.txt
/App/7-Zip64/Lang/kk.txt
/App/7-Zip64/Lang/ko.txt
/App/7-Zip64/Lang/ku-ckb.txt
/App/7-Zip64/Lang/ku.txt
/App/7-Zip64/Lang/ky.txt
/App/7-Zip64/Lang/lij.txt
/App/7-Zip64/Lang/lt.txt
/App/7-Zip64/Lang/lv.txt
/App/7-Zip64/Lang/mk.txt
/App/7-Zip64/Lang/mn.txt
/App/7-Zip64/Lang/mng.txt
/App/7-Zip64/Lang/mng2.txt
/App/7-Zip64/Lang/mr.txt
/App/7-Zip64/Lang/ms.txt
/App/7-Zip64/Lang/nb.txt
/App/7-Zip64/Lang/ne.txt
/App/7-Zip64/Lang/nl.txt
/App/7-Zip64/Lang/nn.txt
/App/7-Zip64/Lang/pa-in.txt
/App/7-Zip64/Lang/pl.txt
/App/7-Zip64/Lang/ps.txt
/App/7-Zip64/Lang/pt-br.txt
/App/7-Zip64/Lang/pt.txt
/App/7-Zip64/Lang/ro.txt
/App/7-Zip64/Lang/ru.txt
/App/7-Zip64/Lang/sa.txt
/App/7-Zip64/Lang/si.txt
/App/7-Zip64/Lang/sk.txt
/App/7-Zip64/Lang/sl.txt
/App/7-Zip64/Lang/sq.txt
/App/7-Zip64/Lang/sr-spc.txt
/App/7-Zip64/Lang/sr-spl.txt
/App/7-Zip64/Lang/sv.txt
/App/7-Zip64/Lang/ta.txt
/App/7-Zip64/Lang/th.txt
/App/7-Zip64/Lang/tr.txt
/App/7-Zip64/Lang/tt.txt
/App/7-Zip64/Lang/ug.txt
/App/7-Zip64/Lang/uk.txt
/App/7-Zip64/Lang/uz.txt
/App/7-Zip64/Lang/va.txt
/App/7-Zip64/Lang/vi.txt
/App/7-Zip64/Lang/yo.txt
/App/7-Zip64/Lang/zh-cn.txt
/App/7-Zip64/Lang/zh-tw.txt
/App/7-Zip64/License.txt
/App/7-Zip64/descript.ion
/App/7-Zip64/readme.txt
/App/AppInfo/Launcher/7-ZipPortable.ini
/App/AppInfo/Launcher/Custom.nsh
/App/AppInfo/Launcher/splash.jpg
/App/AppInfo/appicon.ico
/App/AppInfo/appicon_128.png
/App/AppInfo/appicon_16.png
/App/AppInfo/appicon_32.png
/App/AppInfo/appicon_75.png
/App/AppInfo/appinfo.ini
/App/DefaultData/settings/7zip_portable.reg
/App/DefaultData/settings/settings_readme.txt
/App/readme.txt
/Data/settings/7-ZipPortableSettings.ini
/Data/settings/7zip_portable.reg
/Data/settings/settings_readme.txt
/History.txt
/Lang/af.txt
/Lang/an.txt
/Lang/ar.txt
/Lang/ast.txt
/Lang/az.txt
/Lang/ba.txt
/Lang/be.txt
/Lang/bg.txt
/Lang/bn.txt
/Lang/br.txt
/Lang/ca.txt
/Lang/co.txt
/Lang/cs.txt
/Lang/cy.txt
/Lang/da.txt
/Lang/de.txt
/Lang/el.txt
/Lang/en.ttt
/Lang/eo.txt
/Lang/es.txt
/Lang/et.txt
/Lang/eu.txt
/Lang/ext.txt
/Lang/fa.txt
/Lang/fi.txt
/Lang/fr.txt
/Lang/fur.txt
/Lang/fy.txt
/Lang/ga.txt
/Lang/gl.txt
/Lang/gu.txt
/Lang/he.txt
/Lang/hi.txt
/Lang/hr.txt
/Lang/hu.txt
/Lang/hy.txt
/Lang/id.txt
/Lang/io.txt
/Lang/is.txt
/Lang/it.txt
/Lang/ja.txt
/Lang/ka.txt
/Lang/kaa.txt
/Lang/kk.txt
/Lang/ko.txt
/Lang/ku-ckb.txt
/Lang/ku.txt
/Lang/ky.txt
/Lang/lij.txt
/Lang/lt.txt
/Lang/lv.txt
/Lang/mk.txt
/Lang/mn.txt
/Lang/mng.txt
/Lang/mng2.txt
/Lang/mr.txt
/Lang/ms.txt
/Lang/nb.txt
/Lang/ne.txt
/Lang/nl.txt
/Lang/nn.txt
/Lang/pa-in.txt
/Lang/pl.txt
/Lang/ps.txt
/Lang/pt-br.txt
/Lang/pt.txt
/Lang/ro.txt
/Lang/ru.txt
/Lang/sa.txt
/Lang/si.txt
/Lang/sk.txt
/Lang/sl.txt
/Lang/sq.txt
/Lang/sr-spc.txt
/Lang/sr-spl.txt
/Lang/sv.txt
/Lang/ta.txt
/Lang/th.txt
/Lang/tr.txt
/Lang/tt.txt
/Lang/ug.txt
/Lang/uk.txt
/Lang/uz.txt
/Lang/va.txt
/Lang/vi.txt
/Lang/yo.txt
/Lang/zh-cn.txt
/Lang/zh-tw.txt
/License.txt
/Other/Help/images/Donation_Button.png
/Other/Help/images/Favicon.ico
/Other/Help/images/Help_Background_Footer.png
/Other/Help/images/Help_Background_Header.png
/Other/Help/images/Help_Logo_Top.png
/Other/Source/AppNamePortable.ini
/Other/Source/LauncherLicense.txt
/Other/Source/PortableApps.comInstallerCustom.nsh
/Other/Source/Readme.txt
/descript.ion
/help.html
/readme.txt
/settings - Kopie.py
